*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: white;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

.ConnectWallet {
  height: 42px;
  /* justify: center; */
  color: rgb(230, 230, 230); 
  font-size: 12px; 
  line-height: 16px;
  padding: 10px; 
  border-radius: 28px; 
  font-family: Georgia, serif;
  font-weight: 15px; 
  text-decoration: none; 
  font-style: normal; 
  font-variant: normal; 
  text-transform: none;
  display: flex;
  background-color: red;
  
  background: #1EA454;
  background: -moz-linear-gradient(left, #1EA454 0%, #67BECB 35%, #2B7551 100%);
  background: -webkit-linear-gradient(left, #1EA454 0%, #67BECB 35%, #2B7551 100%);
  background: linear-gradient(to right, #1EA454 0%, #67BECB 35%, #2B7551 100%);

  box-shadow: 0, 1px 10px rgb(0, 0, 0) 5px 5px 15px 5px; 
  border: 2px solid rgb(151 164 175 / 10%); 
  display: inline-block;
  cursor: pointer;
}
.ConnectWallet:hover {
  background: #1C6EA4;
}
.ConnectWallet:active {
  background: #144E75;
}
/* 
.topDiv {
  background-color: #1C6EA4;
} */

.divHeader h1{
  color: #144E75;
  font-size: 45px;
  font-family: Georgia, serif;
  text-align: right;
}

.cardAttribute {
  border: 1px solid;
  border-radius: 20px;
  /* background: #1C6EA4; */
  height: 42px;
  /* justify: center; */
  color: rgb(165, 123, 22); 
  font-size: 12px; 
  line-height: 16px;
  padding: 10px; 
  border-radius: 28px; 
  font-family: Georgia, serif;

}
.cardAttribute h2 {
  text-align: center;
  margin: 0px;
  color: rgb(200, 200, 1); 
  padding: 3px; 
}

.cardAttribute:hover {
  background: #4C4EB2;
}

.write {
  font-size: 18px;
  color: orange;
}

/* style={{ display: "flex", gap: "10px" }} */